.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

/* .navbar-dark{
  background: #4A90E2;
} */
.background_image {
  width: 100%;
  height: 70vw;
  object-fit: cover;
}

.trend-content {
  background: #000;
  opacity: 0.65;
}

.card-body-decoration {
  border-right: #f8f9fa 1px solid;
}

.text-decoration {
  color: #4a90e2;
}
.card {
  border: none;
  border-radius: 5%;
}
.card_image {
  width: 20vw;
  height: 20vw;
  object-fit: cover;
}

.btn-primary {
  background: #4a90e2;
}
.carou-left {
  position: absolute;
  /* top: 250px; */
  width: 30px;
  height: 30px;
  bottom: -200px;
  left: 60px;
  z-index: 99;
}

.carou-right {
  position: absolute;
  right: 60px;
  bottom: -200px;
  width: 30px;
  height: 30px;
  z-index: 99;
}

.carou-indicator {
  position: relative;
  bottom: 0;

  z-index: 999999;
}

.carou-indicator .carousel-indicators > li {
  border-radius: 50%;
  background: #9b9b9b;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.jumbotron {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/43688.jpg") center center no-repeat;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  padding: 0;
}

.about_heading {
  color: #4a90e2;
  font-size: 26px;
}
.about_image img {
  object-fit: cover;
}

.about-text {
  float: right;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
